* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0 auto -200px;
}

td {
  padding: 0.2em;
  padding-left: 0.4em;
}

tr {
  border-right: inset 1px #ccc;
  border-bottom: inset 1px #ccc;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -200px;
  height: auto !important;
}

.footer, .push {
  height: 200px;
}

.logger {
  background-color: #181313;
  box-shadow: inset 0px 11px 14px -12px black;
  color: #B4B4B4;
  font-family: monospace;
  overflow: scroll;
  width: 100%;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.row {
  margin: 0;
  padding: 0;
}

.coverage-stats {
  display: inline-block;
  padding: 0;
  vertical-align: top;

  table.coverage-stats-files {
    margin: 0;
    padding: 0;
    width: 170px;

    .coverage-stats-percentage {
      text-align: right;
    }
  }
}

.test-suites {
  display: inline-block;
  padding: 0;
  width: 80%;

  table {
    width: 100%;
  }

  .root-suite {
    background-color: #E0E0E0;
    font-size: 1.3em;
    font-weight: bold;
  }
}

$i: 10;
@while $i > 0{
  .indent-#{$i} td:first-of-type {
    padding-left: 1.5em + 1.5em * $i !important;
  }

  $i: $i - 1;
}
