@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

* {
  margin: 0;
}

html, body {
  font-family: Monaco;
  height: 100%;
  margin: 6px auto -200px;
  overflow: hidden;
}

table {
  width: 100%;

  td {
    padding: 0.2em;
    padding-left: 0.4em;
  }

  tr {
    border: inset 1px #ccc;
  }
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -200px;
  padding-right: 5px;
  padding-left: 5px;
  height: auto !important;
}

.footer, .push {
  height: 200px;
}

.logger {
  background-color: #181313;
  box-shadow: inset 0px 11px 14px -12px black;
  color: #B4B4B4;
  font-family: monospace;
  overflow: scroll;
  width: 100%;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.row {
  margin-right: 0;
}

.coverage-stats {
  display: inline-block;
  vertical-align: top;

  .coverage-stats-files {
    padding: 0;

    li {
      background: linear-gradient(to left,rgba(255, 48, 48, 0) 20%,rgba(101, 187, 98, 1) 0);
      border: solid 1px #ccc;
      height: 38px;
      line-height: 38px;
      padding-left: 0.7em;
      padding-right: 0.7em;
      padding-top: 0.1em;
    }

    .coverage-stats-percentage {
      float: right;
    }
  }
}

.test-suites {
  display: inline-block;
  padding: 0;

  .root-suite {
    background-color: #E0E0E0;
    font-size: 1.3em;
    font-weight: bold;
  }

  .suite {
    font-weight: bold;
  }

  .pass {
    color: green;
  }

  .fail {
    color: red;
  }
}

$i: 10;
@while $i > 0{
  .indent-#{$i} td:first-of-type {
    padding-left: 1.5em + 1.5em * $i !important;
  }

  $i: $i - 1;
}
